.input {
  background: #152737;
}

.create {
  margin-top: 20px;
}

.err {
  border: 2px solid red;
}

.errMsg {
  marign: 10px 0;
  margin-top: 8px;
  font-size: 12px;
  color: red;
  text-align: center;
}
