.button {
    background: #b3904d;
    color: #061018;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    transition: background .2s;
    width: 100%;
    font-family: inherit;
    font-weight: 700;
}

.button:hover {
    background: #d5ad5f;
}

.button:active {
    background: #816839;
}