.div {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    z-index: 1;
}


.modal {
    min-width: 300px;
    position: relative;
    z-index: 100;
}

.btn {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: -60px;
    right: -60px;
    cursor: pointer;
    transition: .2s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.btn:hover {
    opacity: .7;
}