.header {
  background: #152737;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px;
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-weight: 400;
}

.btn {
  max-width: 240px;
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 20px;
  }
  .btn {
    max-width: 160px;
  }
}
