body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #061018;
}

.load {
  margin: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
